#include <dt-bindings/zmk/keys.h>    // 公式推奨のヘッダー
#include <behaviors.dtsi>            // ビヘイビア（&mo など）を使うために必要
#include <dt-bindings/zmk/pointing.h> // マウススクロール（SCRL_UP, SCRL_DOWN, SCRL_LEFT, SCRL_RIGHT）用

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100 // スクロールのデフォルト値

/ {
    behaviors {
        // 上下スクロール用
        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
            tap-ms = <20>;
        };

        // 左右スクロール用
        scroll_left_right: behavior_sensor_rotate_mouse_wheel_left_right {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // レイヤー0（デフォルト）: 上下スクロール
        default_layer {
            bindings = <
                &studio_unlock &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P
                &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI
                &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SLASH
                &kp ESC &kp TAB &kp SPC &kp BSPC &mo 1 &kp ENTER &mo 2 &kp LEFT &kp RIGHT &kp UP
            >;
            sensor-bindings = <&scroll_up_down>; // 上下スクロール
        };

        // レイヤー1: 上下スクロール
        layer_1 {
            bindings = <
                &kp 1 &kp 2 &kp 3 &kp 4 &kp 5 &kp 6 &kp 7 &kp 8 &kp 9 &kp 0
                &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10
                &kp F11 &kp F12 &none &none &none &none &none &none &none &none
                &kp LCTL &kp LALT &kp LSHFT &kp LGUI &none &none &none &none &none &none
            >;
            sensor-bindings = <&scroll_up_down>; // 上下スクロール
        };

        // レイヤー2: 左右スクロール
        layer_2 {
            bindings = <
                &kp 9 &studio_unlock &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none
            >;
            sensor-bindings = <&scroll_left_right>; // 左右スクロール
        };
    };
};
