#include <dt-bindings/zmk/keys.h>  // 公式推奨のヘッダー
#include <behaviors.dtsi>           // ビヘイビア（&mo など）を使うために必要

/ {
    keymap {
        compatible = "zmk,keymap";

        // レイヤー0（デフォルト）
        default_layer {
            bindings = <
                &mt &studio_unlock &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P
                &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI
                &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SLASH
                &kp ESC &kp TAB &kp SPC &kp BSPC &mo 1 &kp ENTER &mo 2 &kp LEFT &kp RIGHT &kp UP // RC(3,4)=&mo 1, RC(3,6)=&mo 2
            >;
        };

        // レイヤー1
        layer_1 {
            bindings = <
                &kp 1 &kp 2 &kp 3 &kp 4 &kp 5 &kp 6 &kp 7 &kp 8 &kp 9 &kp 0
                &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10
                &kp F11 &kp F12 &none &none &none &none &none &none &none &none &none
                &kp LCTL &kp LALT &kp LSHFT &kp LGUI &none &none &none &none &none &none
            >;
        };

        // レイヤー2
        layer_2 {
            bindings = <
                &kp 9 &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none
            >;
        };
    };
};
